<!DOCTYPE html>
<html>
  <head>
    <title>Your Rails App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom_styles', media: 'all' %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all' %> <!-- Add this line -->

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'bootstrap' %> <!-- Add this line -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
